---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Stéphane Palmini" description="À propos de Stéphane Palmini">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Découvrez mon parcours et mes compétences"
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Stephane Palmini au travail avec un collègue"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>
						Passionné de programmation et de résolution de problèmes, je suis Stéphane Palmini, fondateur de Dev2ls. 
						Mon parcours en développement web a commencé il y a plusieurs années et m'a conduit à acquérir une solide 
						expertise dans divers langages et frameworks.
					</p>
					<p>
						Avec une expérience significative dans le développement de sites web et d'applications, je me suis spécialisé 
						dans les technologies telles que HTML, CSS, JavaScript, PHP, WordPress, Symfony, et React. Mon objectif est 
						de créer des solutions web innovantes et efficaces pour répondre aux besoins spécifiques de chaque projet.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Formation</h2>
				<div class="content">
					<p>
						J'ai suivi une formation intensive de 6 mois chez O'clock, où j'ai approfondi mes compétences en développement web 
						et mobile. Cette formation m'a permis de maîtriser les technologies modernes et de développer une approche méthodique 
						et rigoureuse pour la création de solutions web.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<ul>
						<li>HTML, CSS, JavaScript</li>
						<li>PHP, WordPress</li>
						<li>Symfony, React</li>
						<li>Développement web et mobile</li>
						<li>Résolution de problèmes et créativité</li>
						<li>Adaptabilité et apprentissage continu</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
